.navbar-base-color{
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
}
.carousel-item{
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  text-align: center;
  /*  transition: -webkit-transform 0.5s ease !important;
  transition: transform 0.5s ease !important;
  transition: transform 0.5s ease, -webkit-transform 2s ease !important;*/
}
.img-fluid{
  width: 100%;
  margin: 0em;
  border-radius: calc(.25rem - 1px);
}
.card.card-blog.inter{
  margin: -12rem !important;
  height: 400px;
  z-index: -2;
  background-color: #3a292930;
}
.card-footer{
  background-color:#e008087a;
}
.card.card-blog{
  background-color:#ffffffd4;
}
.form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: #c8233340;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #88494f69;
}
.form-control{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.reply-to button{
  border-radius:15px;
  background-color:#e00808;
  margin-top:4px;
  color:white;
  width:150px;
}
