.navbar-base-color{
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
}
.carousel-item{
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  text-align: center;
  /*  transition: -webkit-transform 0.5s ease !important;
  transition: transform 0.5s ease !important;
  transition: transform 0.5s ease, -webkit-transform 2s ease !important;*/
}
.img-fluid{
  width: 100%;
  margin: 1em;
  border-radius: calc(.25rem - 1px);
}
