DirectoryIndex test.php

RewriteEngine on
RewriteRule ^$ test.php [NC,L]
RewriteRule ^iletisim$ test.php?sayfa=iletisim [NC,L]
RewriteRule ^hakkinda$ test.php?sayfa=hakkinda [NC,L]
RewriteRule ^blog$ test.php?sayfa=blog [NC,L]
RewriteRule ^hizmetler$ test.php?sayfa=hizmetler [NC,L]
RewriteRule ^calismalar$ test.php?sayfa=calismalar [NC,L]

RewriteRule ^test.php?sayfa=blogdetail/([0-9a-zA-Z-_]+)/([0-9]+)$ test.php?sayfa=blogdetail?sef=$1&blog_id$2 [L,QSA]
